{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/swiper-bundle.min.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>


    {% block page_title %}


    {% endblock %}

</head>


<body class="font-YekanBakh-Regular text-sm bg-slate-50">

    {% block main %}


    {% endblock %}

    <script src={% static "js/swiper-bundle.min.js" %}></script>
    <script src={% static "js/main.js" %}></script>
</body>

</html>


