{% load static %}

<footer class="p-10 bg-slate-800 text-white">
    <div class="container mx-auto max-w-screen-xl">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 leading-8">
            <div>
                <img class="mb-4" src={% static "images/logo-footer.png" %} alt="">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                </p>
            </div>
            <div class="text-right md:text-center">
                <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">دسترسی سریع</h3>
                <ul>
                    <li><a href="index.html">صفحه اصلی</a></li>
                    <li><a href="about-us.html">درباره ما</a></li>
                    <li><a href="contact-us.html">تماس با ما</a></li>
                    <li><a href="project.html">پروژه ها</a></li>
                    <li><a href="services.html">خدمات</a></li>
                </ul>
            </div>
            <div class="text-right md:text-center">
                <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">خدمات شرکت</h3>
                <ul>
                    <li><a href="single-project.html">جزئیات پروژه</a></li>
                    <li><a href="blog.html">جزئیات بلاگ</a></li>
                    <li><a href="records.html">سابقه فعالیت</a></li>
                    <li><a href="faq.html">سوالات متداول</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
            </div>
            <div class="">
                <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">عضویت در خبرنامه</h3>

                <div class="form-control">
                    <label class="label">
                        <span>ایمیل خود را وارد کنید</span>
                    </label>
                    <div class="relative">
                        <input type="text" placeholder="username@gmail.com"
                            class="input input-bordered w-full text-black" />
                        <button
                            class="btn bg-yellow-500 hover:bg-yellow-600 absolute top-0 left-0 rounded-r-none">ثبت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer class="footer footer-center p-4 bg-slate-700 text-white">
    <div>
        <p>Copyright © 2023 - تمامی حقوق برای راست چین محفوظ می باشد</p>
    </div>
</footer>